p{ 
    font-family:Montserrat ;   
   text-align: center;
   margin-top: 0px;
   margin-bottom: 0px;

}
.class1{
   font-size: 36px;
   font-weight: 600;
   margin-top: 6px;
   margin-bottom: 17px;
   font-style: normal;
}
.class2{
   font-size: 20px;

}
.class2-1{
   text-decoration: underline;
   cursor: pointer;

}